{% extends "base.html.twig" %}

 {% block title %}النشأة والتأسيس{% endblock %}

{% block body %}
<div class="container marketing mt-5"><br><br>
    <section class="content ">
        <div class="contentView clearfix pure-form">
           
                 <div class="col-md-12 col-sm-12 col-xs-12 list_view_2 bootstrap_noPadding" >
                <div class="thumbnail block_1"> 
                    <div class="caption">
                        <div class="list_view_2_body">
                            <section>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 img-top text-center">
                                        <img style="height: 100px;" alt="" src="/sites/all/themes/newTheme/images/Kafel-V2_03.png" />
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <p class="text-center text-img">
                                        بمبادرة ملؤها الاحساس بمسؤولية تقديم يد العون و الخدمات الاجتماعية و تحقيق ا
                                        لتكافل بين شرائح المجتمع  و اهتماما منها بفئة الاطفال الايتام تأست جمعية
                                        دار الكرم لرعاية الأيتام  في الخامس من نونبر سنة  2016  طبقا لظهير 1
                                        5 نونبر 1958 و هي جمعية جهوية اجتماعية خيرية و تنموية مستقلة 
                                        </p>
                                    </div>
                                </div>
                            </section>
                            <section class="vision-message">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <h1>أهدافنا</h1>
                                        <p>التكفل عن بعد بالأيتام داخل أسرهم ماديا و معنويا و تربويا.
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <h1>رسالتنا</h1>
                                        <p>     احياء روح العمل التضامني الاجتماعي و التنموي في صفوف ا
                                            لمجتمع و ذلك بالنهوض بوضعية الأسر التي تعيش في وضعية ص
                                            عبة و خصوصا منها اسر الارامل و الايتام .
                                        </p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container marketing">
        <section class="content ">
                        <div class="contentView clearfix pure-form">
                <div class="col-md-12 col-sm-12 col-xs-12 list_view_2 bootstrap_noPadding">
    <div class="thumbnail block_1"> 

        <div class="caption">
            <div class="list_view_2_body"><p class="rtecenter"><span style="color:#008000;"><span style="font-size:22px;"><strong>تهدف المؤسسة إلى مساعدة الأيتام ومن فى حكمهم من ذوى الظروف الخاصة، دون أن يكون هدفها الحصول على الربح المادى مطلقاً.</strong><br>
<br>
<img alt="" src="/sites/default/files/users/2/Write-Icon.png" style="width: 150px; height: 150px;"><br>
<br>
<strong>تنطلق المؤسسة في رعايتها للأيتام وأسرهم من مجموعة من المنطلقات وهي :</strong></span></span></p>

<p><br>
<span style="color:#008000;"><span style="font-size:22px;"><img alt="" src="/sites/default/files/users/2/Previous.png" style="width: 22px; height: 22px;">&nbsp;المساهمة في رعاية وكفالة الأيتام ، بما في ذلك كفالتهم داخل أسرهم أو عائلهم وتوفير الرعاية&nbsp;<br>
الصحية والاجتماعية لهم.<br>
<img alt="" src="/sites/default/files/users/2/Previous.png" style="width: 22px; height: 22px;">&nbsp;تقديم المساعدات النقدية والعينية والسكنية للمحتاجين من الأيتام وعائلهم.<br>
<img alt="" src="/sites/default/files/users/2/Previous.png" style="width: 22px; height: 22px;">&nbsp;العناية بتعليم وتأهيل وتدريب الأيتام ، وتشجيعهم على الاعتماد على أنفسهم ـ بعد الله ـ&nbsp;في ترتيب شؤون حياتهم.<br>
<img alt="" src="/sites/default/files/users/2/Previous.png" style="width: 22px; height: 22px;">&nbsp;العناية بدور إيواء الأيتام و يشمل ذلك المساهمة فيها إنشاء و تشغيلا.<br>
<img alt="" src="/sites/default/files/users/2/Previous.png" style="width: 22px; height: 22px;">&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&nbsp;تملك الأراضي أو المباني أو استئجارها أو تطويرها لتحقيق الأهداف المذكورة.<br>
<img alt="" src="/sites/default/files/users/2/Previous.png" style="width: 22px; height: 22px;">&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&nbsp;إعداد وتطوير ونشر الأبحاث والدراسات والتحقيقات المتعلقة بأهداف المؤسسة.<br>
<img alt="" src="/sites/default/files/users/2/Previous.png" style="width: 22px; height: 22px;">&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&nbsp;جمع المعلومات المتعلقة بأغراض المؤسسة ونشرها و تبادلها مع الأشخاص والهيئات الأخرى.</span></span></p>
</div>
            
            
            <div class="list_view_2_body_Imgs"></div>
                        
        </div>

    </div>
</div>


            </div>
        </section>
    </div>

{% endblock %}