{% extends "base.html.twig" %}
{% block title %}{% endblock %}

{% block body %}
<br>
<br>
<div id="primary" class="container">
    <div id="post-12" class="post-12 page type-page status-publish hentry">
    <h1 class="page-title"><span>كفالة اليتيم</span></h1>
    <div class="page_content">
        <table border="1" align="left">
<tbody>
<tr>
<th scope="row"><img data-attachment-id="1011" data-permalink="https://alaoun.org/%d8%a7%d9%84%d9%83%d9%81%d8%a7%d9%84%d8%a7%d8%aa-%d9%88-%d8%a7%d9%84%d9%85%d9%86%d8%ad/%d8%aa%d8%b9%d8%b1%d9%81-%d9%88-%d8%b3%d8%a7%d9%87%d9%85/" data-orig-file="https://i2.wp.com/alaoun.org/wp-content/uploads/2013/04/تعرف-و-ساهم.gif?fit=661%2C165&amp;ssl=1" data-orig-size="661,165" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}" data-image-title="جمعية العون والإغاثة تعرف-و-ساهم كفالة اليتيم" data-image-description="" data-medium-file="https://i2.wp.com/alaoun.org/wp-content/uploads/2013/04/تعرف-و-ساهم.gif?fit=300%2C74&amp;ssl=1" data-large-file="https://i2.wp.com/alaoun.org/wp-content/uploads/2013/04/تعرف-و-ساهم.gif?fit=584%2C146&amp;ssl=1" class="aligncenter size-full wp-image-1011 jetpack-lazy-image jetpack-lazy-image--handled" src="https://i2.wp.com/alaoun.org/wp-content/uploads/2013/04/تعرف-و-ساهم.gif?resize=170%2C42" alt="جمعية العون والإغاثة تعرف-و-ساهم كفالة اليتيم" width="170" height="42" data-recalc-dims="1" data-lazy-loaded="1"><noscript><img data-attachment-id="1011" data-permalink="https://alaoun.org/%d8%a7%d9%84%d9%83%d9%81%d8%a7%d9%84%d8%a7%d8%aa-%d9%88-%d8%a7%d9%84%d9%85%d9%86%d8%ad/%d8%aa%d8%b9%d8%b1%d9%81-%d9%88-%d8%b3%d8%a7%d9%87%d9%85/" data-orig-file="https://i2.wp.com/alaoun.org/wp-content/uploads/2013/04/تعرف-و-ساهم.gif?fit=661%2C165&amp;ssl=1" data-orig-size="661,165" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}" data-image-title = "جمعية العون والإغاثة تعرف-و-ساهم كفالة اليتيم" data-image-description="" data-medium-file="https://i2.wp.com/alaoun.org/wp-content/uploads/2013/04/تعرف-و-ساهم.gif?fit=300%2C74&amp;ssl=1" data-large-file="https://i2.wp.com/alaoun.org/wp-content/uploads/2013/04/تعرف-و-ساهم.gif?fit=584%2C146&amp;ssl=1" class="aligncenter size-full wp-image-1011" src="https://i2.wp.com/alaoun.org/wp-content/uploads/2013/04/تعرف-و-ساهم.gif?resize=170%2C42" alt = "جمعية العون والإغاثة تعرف-و-ساهم كفالة اليتيم" width="170" height="42" data-recalc-dims="1" /></noscript></th>
</tr>
<tr>
<th scope="row"><img title="جمعية العون والإغاثة كفالة-أسرة-أيتام-copy كفالة اليتيم" src="http://alaoun.org/wp-content/uploads/2013/04/كفالة-أسرة-أيتام-copy.jpg" alt="جمعية العون والإغاثة كفالة-أسرة-أيتام-copy كفالة اليتيم" width="170" height="42"></th>
</tr>
<tr>
<th scope="row"><img title="جمعية العون والإغاثة كفالة-أرملة- كفالة اليتيم" src="http://alaoun.org/wp-content/uploads/2013/04/كفالة-أرملة-.jpg" alt="جمعية العون والإغاثة كفالة-أرملة- كفالة اليتيم" width="170" height="42"></th>
</tr>
<tr>
<th scope="row"><a href="http://alaoun.org/الكفالات-و-المنح/كفالـة-إيواء-الطالـبة-اليتيمة/"><img title="جمعية العون والإغاثة الطالبة-اليتيمة-copy كفالة اليتيم" src="http://alaoun.org/wp-content/uploads/2013/04/الطالبة-اليتيمة-copy.jpg" alt="جمعية العون والإغاثة الطالبة-اليتيمة-copy كفالة اليتيم" width="170" height="42"></a></th>
</tr>
<tr>
<th scope="row"><img title="جمعية العون والإغاثة الطالب-اليتيم كفالة اليتيم" src="http://alaoun.org/wp-content/uploads/2013/04/الطالب-اليتيم.jpg" alt="جمعية العون والإغاثة الطالب-اليتيم كفالة اليتيم" width="170" height="42"></th>
</tr>
</tbody>
</table>
<ul dir="rtl">
<li>
<div style="text-align: justify;">عَنْ مَالِك عَنْ صَفْوَانَ بْنِ سُلَيْمٍ أَنَّهُ بَلَغَهُ أنَّ النَّبِيَّ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ قَالَ:”<span style="color: #008000;"> أَنَا وَكَافِلُ الْيَتِيمِ لَهُ أَوْ لِغَيْرِهِ فِي الْجَنَّةِ كَهَاتَيْنِ إِذَا اتَّقَى وَأَشَارَ بِإِصْبُعَيْهِ الْوُسْطَى وَالَّتِي تَلِي الْإِبْهَام</span>“<span style="color: #ff0000;">موطأ مالك كتاب الجامع بَاب السُّنَّةِ فِي الشَّعَرِ</span></div>
</li>
<li style="text-align: justify;">
<div>&nbsp;عَنْ النَّبِيِّ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ قَالَ”<span style="color: #008000;"> وَكَافِلُ الْيَتِيمِ فِي الْجَنَّةِ هَكَذَا وَقَالَ بِإِصْبَعَيْهِ السَّبَّابَةِ وَالْوُسْطَى</span>” <span style="color: #ff0000;">صحيح البخاري كتاب الأدب ، بَاب فَضْلِ مَنْ يَعُولُ يَتِيمًا</span></div>
</li>
<li style="text-align: justify;">
<div>قال ابن بطال رحمه الله : ( حق على من سمع هذا الحديث أن يعمل به ، ليكون رفيق النبي صلى الله عليه وسلم في الجنة) نقله ابن حجر في فتح الباري 10/430</div>
</li>
</ul>
<h2 dir="rtl" style="text-align: right;"><a class="show-text" href="#text-8">ماذا نقصد بالكفالة؟</a></h2>
<div id="text-8" class="" style="text-align: right; display: block;">كفالة اليتيم&nbsp;مساعدة مادية شهرية راتبة تخصص ليتيم– أو أكثر،أربعة أيتام على الأكثر في كل أسرة – يعيش في بيئته الأسرية الأصلية تسهم جزئيا في تامين شروط العيش الكريم له ولأسرته، من غذاء ولباس ومسكن وتطبيب ، وفي تيسير ظروف النمو السليم لليتيم&nbsp;تمدرس وترفيه ورياضة، وتربية خلقية واجتماعية ومدنية .. بقصد حمايته وتأهيله ليكون مواطنا صالحا ومصلحا.</div>

<h2 dir="rtl" style="text-align: right;">
    
    <a class="show-text" title="ما هي أهداف مشروع كفالة اليتيم في بيئته الأسرية الطبيعية؟ " href="#text-1"> ما هي أهداف مشروع كفالة اليتيم في بيئته الأسرية الطبيعية؟ </a></h2>
<div id="text-1" class="" style="text-align: right; display: block;"> تمكين الأيتام من النمو الطبيعي السوي جسديا ونفسيا وعقليا واجتماعيا<br>
 تأمين الرعاية الصحية والنفسية والاجتماعية والتربوية للأيتام<br>
 صناعة نجاح وتألق اليتيم العلمي والتربوي والاجتماعي والاندماجي<br>
 دعم أسرة اليتيم محافظة على تماسكها واستقرارها وأدوارها.</div>
<h2 dir="rtl" style="text-align: right;"><a class="show-text" title="من يستفيد من كفالة اليتيم ؟" href="#text-2"> من يستفيد من كفالة اليتيم ؟ </a></h2>
<div id="text-2" class="" style="text-align: right; display: block;">يستفيد من كفالة اليتيم في بيئته الأسرية من تتوفر فيه مجموع الشروط الآتية:<br>
1. أن يكون اليتم حقيقيا (وفاة الأب، أو الأم والأب معا) لا حكميا.<br>
2. أن يكون اليتيم يعيش مع أمه أو أحد جديه أو إخوته أو خالته..) لا في دار الأيتام.<br>
3. إن تكون الأسرة التي تحتضن اليتيم فقيرة أو عاجزة.<br>
4. أن يكون عمر اليتيم دون سن العاشرة<br>
5. ألا يكون لليتيم أكثر من ثلاثة إخوة يستفيدون من كفالة اليتيم</div>
<h2 dir="rtl" style="text-align: right;"><a class="show-text" title="لماذا نستهدف بالكفالة فقط يتيم الأب أو الأبوين ؟" href="#text-3">لماذا نستهدف بالكفالة فقط يتيم الأب أو الأبوين ؟ </a></h2>
<div id="text-3" class="" style="text-align: right; display: block;">نحن نستهدف بالتحديد كفالة:<br>
1- يتيم الأب الذي يعيش في بيته في حضن أمه .<br>
2- يتيم الأبوين الذي يعيش في كنف أسرة (لا في دار للأيتام )<br>
و هذا الخيار تحتمه طبيعة مشروع الكفالة الوقائية والأسرية و التأهيلية<p></p>
<h1><a class="show-text" title="الأسباب" href="#text-4">كفالة اليتيم مشروع وقائي لا علاجي</a></h1>
<div id="text-4" class="" style="text-align: right; display: block;"> نتغيأ محاصرة مكامن الخطر المحدقة باليتيم في مهدها ،ونسعى إلى تجفيف منابعها التي من شأنها أن تفضي إلى تشرد اليتيم وضياعه وإهماله و إنحرافه.<br>
 نعتبر تفكك وتشتت أسرة اليتيم من المخاطر المهددة لكيان اليتيم والهادمة لتوازنه النفسي، والتي لا ينفع معها التدخل العلاجي إلا بتكلفة عالية ونتائج متواضعة.</div>
<h1 style="text-align: right;"><a class="show-text" title="كفالة اليتيم مشروع اسري:" href="#text-5">كفالة اليتيم مشروع اسري</a></h1>
<div id="text-5" class="" style="text-align: right; display: block;"> نعتبر مستقبل اليتيم مرتبط ارتباطا جدليا بمستوى تماسك واستقرار أسرته الحاضنة له.<br>
 نتصور أن التدخل الوقائي يقتضي منا توفير بيئة إيجابية حاضنة لليتيم وحمايتها وتنميتها<br>
اقرأ المزيد .. الرعاية الشاملة ،حق اليتيم في أسرة ،</div>
<h1 style="text-align: right;"><a class="show-text" title="كفالة اليتيم مشروع تاهيلي تنموي لا مشروع إغاثة وإسعاف" href="#text-6">كفالة اليتيم مشروع تاهيلي تنموي لا مشروع إغاثة وإسعاف</a></h1>
<div id="text-6" class="" style="text-align: right; display: block;">نراهن على تأهيل اليتيم وكافة أعضاء أسرته تعليميا و مهاريا وتربويا واجتماعيا لتنمية بيئة اليتيم في افق صناعة نجاح وتألق اليتيم وأمه وأخوته.<br>
اقرا المزيد.. المفهوم التنموي لكفالة اليتيم</div>
</div>
<h2 style="text-align: right;"><a class="show-text" title="كم قيمة الكفالة وكيف تصرف؟" href="#text-7">كم قيمة الكفالة وكيف تصرف؟</a></h2>
<div id="text-7" class="" style="text-align: right; display: block;">القيمة الشهرية الدنيا للكفالة هو <strong>400 درهم مغربي</strong> ..والقيمة العليا غير محددة<br>
يودع الكافل كفالتة عبر التحويل البنكي أو عبر الاتصال المباشر بقسم الكفالة بمقر الجمعية.بحسب اختياره ،شهريا (في بدايةكل شهر)أو دوريا (في بداية كثلاثة أشهر)أو سنويا (في بداية كل سنة) .<br>
تسلم نسبة 66% من الكفالة لولي اليتيم.،ويصرف المبلغ المتبقي من الكفالة على خدمات الدعم المباشر لليتيم :الخدمات الاجتماعية والصحية والأنشطة التعليمية والتربوية والترفيهية.</div>
<h2 style="text-align: right;"><a class="show-text" title=" التزاماتنا اتجاه اليتيم المكفول" href="#text-9">التزاماتنا اتجاه اليتيم المكفول</a></h2>
<div id="text-9" class="" style="text-align: right; display: block;">– المتابعة التربوية الميدانية من قبل مشرفة تربوية تزوره بشكل راتب في بيته وتجتمع به بالمركز التابع للجمعية القريب من سكناه .<br>
– المتابعة لوضعه الصحي واستفادته من الفحص الصحي المجاني والتطبيب وكل احتياجاته من الدواء.<br>
-المتابعة لوضعه النفسي من قبل المشرفات عبر جلسات الاستماع ،وفي الحالات المعقدة بإشراف طبيب نفسي مختص عبر جلسات تطبيب نفسي .<br>
-المتابعة لوضعه القانوني وحل مشكلاته في هذا السياق بالتنسيق مع خبراء قانونيين، من مثل التسجيل بالحالة المدنية ،وتمتيعه بحقه في التمدرس، وتمكينه من حقه في الإرث…الخ.<br>
-المتابعة لمسيرته التعليمية واستفادته من دروس الدعم المدرسي.ودورات مهارات التحصيل الدراسي والتوجيه التربوي،وحوافز التفوق.<br>
– الاستفادة من الحقيبة المدرسية والنظارات.وملابس العيد والملابس الشتوية، واللعب.<br>
-الاستفادة من الأنشطة التربوية الأسبوعية ( الصبيحات وأنشطة الأندية بالمراكز) والخرجات والرحلات والمخيمات.<br>
-الاستفادة من التظاهرات والأنشطة التحسيسية والتوعوية وأنشطة الاكتشاف وتطوير المهارات.</div>
<h2 style="text-align: right;"><a class="show-text" title="التزاماتنا اتجاه أسرة اليتيم المكفول" href="#text-10">التزاماتنا اتجاه أسرة اليتيم المكفول</a></h2>
<div id="text-10" class="" style="text-align: right; display: block;">– المتابعة الميدانية للأسرة بشكل راتب من قبل مشرفة تربوية تزور الأسرة في بيتها وتستقبلها في مراكز الجمعية.<br>
-المتابعة للوضع السكني للأسرة والعمل على تحسينه بما يناسب.<br>
-المتابعة للمشكلات الاجتماعية لأسرة اليتيم المكفول والعمل على حلها<br>
– المتابعة للوضع الصحي لكافة اعضاء اسرة اليتيم المكفول واستفادتها من الفحص الطبي المجاني ودعمها في احتياجاتها الطبية.<br>
-المتابعة للوضع الاقتصادي للأسرة والعمل على تحسينه بالتشغيل والــتـأهيل والمشاريع المدرة الدخل.<br>
-المتابعة للوضع القانوني للأسرة وحل مشكلاتها بالتنسيق مع خبراء قانونيين.<br>
-المتابعة للوضع النفسي لأم اليتيم المكفول من قبل المشرفات عبر جلسات الاستماع ،وفي الحالات المعقدة بإشراف طبيب نفسي مختص عبر جلسات تطبيب نفسي ,<br>
-استفادة الأرملة من دروس محو الأمية والأنشطة التربوية والتحسيسية.وبرامج التأهيل الحرفي والمهني.<br>
-استفادة الأسرة من دعم موسمي راتب في شهر رمضان الأبرك وعيد الفطر وعيد الأضحى<br>
– دعم الأسرة بالتجهيز المنزلي والربط بشبكة الماء والكهرباء،<br>
– دعم الأسرة بالمشورة من اجل تدبير جيد لمجالات صرف مدخراتها وكفالاتها.<br>
– دعم الأسرة بالمشورة وماديا(المهر وتجهيز العروس..) لتزويج يتاماها (انظر مشروع تزويج اليتيم)</div>
<h2 style="text-align: right;"><a class="show-text" title="كيف تكفل يتيما؟" href="#text-11">كيف تكفل يتيما؟</a></h2>
<div id="text-11" class="" style="text-align: right; display: block;">توفر الجمعية للراغب في الكفالة خيارات متعددة تستجيب لطلبه:<br>
الخيار الأول:يختار الكافل من موقع الجمعية اليتيم الذي يرغب في كفالته من صفحة أيتام في انتظار الكفالة و بعد ذلك يتصل بقسم الكفالات لاستكمال إجراءا ت الكفالة.<br>
الخيار الثاني:يتصل الكافل مباشرة بقسم الكفالات لاختيار يتيم محدد من بين الملفات التي تعرض عليه وتقدم له بيانات مفصلة بخصوصه.<br>
الخيار الثالث :يكفل الكافل يتيما ويفوض لقسم الكفالات تحديد يتيم بعينه بحسب معايير الأولوية الموضوعة لهذا الغرض.<br>
يعبئ الكافل <a href="http://alaoun.org/%D8%A3%D9%83%D9%81%D9%84-%D9%8A%D8%AA%D9%8A%D9%85%D8%A7/%D8%A7%D9%84%D8%AA%D8%B2%D8%A7%D9%85-%D8%A7%D9%84%D9%83%D8%A7%D9%81%D9%84/">مطبوع التزام الكافل</a> ويتسلم بطاقة التعريف باليتيم المكفول.</div>
<h2 style="text-align: right;"><a class="show-text" title="التزاماتنا اتجاه الكافل:" href="#text-12">التزاماتنا اتجاه الكافل</a></h2>
<div id="text-12" class="" style="text-align: right; display: block;">1. يتوصل الكافل بتقرير سنوي تقييمي مفصل عن اليتيم المكفول .<br>
2. يمكن للكافل أن يرتب مع قسم الكفالات مواعيد ليجتمع بمكفوله في جلسة حميمية بمقر الجمعية أو لزيارة مكفوله في بيته للاطلاع على أحواله ميدانيا .<br>
3. يمكن للكافل أن يربط اتصالا الكترونيا دائما عبر خدمات لمعرفة مستجدات مكفوله .<br>
4. يمكن للكافل أن يسهم في تطوير الخدمة المقدمة لليتيم بإرسال مقترحاته عبر صندوق الاقتراحات.<br>
5. يتمتع الكافل بصفة العضوية الشرفية وبالتالي يحق له حضور ومتابعة جموع الجمعية العامة وكذا جموعها التواصلية.<br>
6. تنظم الجمعية على شرف الكفلاء تظاهرات متنوعة للتواصل ولتقاسم المستجدات ولتقييم التجربة وترشيدها.</div>
<div class="share-to-whatsapp-wrapper">
    <div class="share-on-whsp">Share on: </div>
    <a data-text="كفالة اليتيم" data-link="https://alaoun.org/%d9%83%d9%81%d8%a7%d9%84%d8%a9-%d8%a7%d9%84%d9%8a%d8%aa%d9%8a%d9%85/" class="whatsapp-button whatsapp-share">WhatsApp</a>
    <div class="clear ">

</div></div><p></p>					</div>
</div>


</div>

<div class="container marketing mt-5">
    <section class="content ">
        <div class="contentView clearfix pure-form">
            <div class="col-md-12 col-sm-12 col-xs-12 list_view_2 bootstrap_noPadding">
                <div class="thumbnail block_1"> 
                    <div class="caption">
                        <div class="list_view_2_body">
                            <p class="rtecenter"><span style="font-size:22px;">
                                    <strong>لطلب كفالة يتيم أو يتيمة عليك تعبئة النموذج أدناه.</strong></span>
                            </p>
                        </div>
                        <div class="list_view_2_body_Imgs"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 "></div>
            <div class="col-md-6 ">
            <div id="forms_3" class="col-md-12 col-sm-12 col-xs-12 bootstrap_noPadding forms_rendarV">
                <div class="thumbnail block_1"> 
                    <div class="caption">
                        <form action="/pages/30" method="post" id="form-3-form" accept-charset="UTF-8">
                            <div>
                                <div class="forms_head">بيانات الكافل</div>
                                <div class="form-item form-type-textfield form-item-name">
                                    <label for="edit-name">اسم الكافل <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="text" id="edit-name" name="name" value="" size="auto" maxlength="128" class="form-text required">
                                </div>
                                <div class="form-item form-type-textfield form-item-country">
                                    <label for="edit-country">الدولة </label>
                                    <input type="text" id="edit-country" name="country" value="" size="auto" maxlength="128" class="form-text">
                                </div>
                                <div class="form-item form-type-textfield form-item-mob">
                                    <label for="edit-mob">رقم الجوال <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="text" id="edit-mob" name="mob" value="" size="auto" maxlength="128" class="form-text required">
                                </div>

                                <div class="forms_head">الكفالة</div>
                                <div class="form-item form-type-textfield form-item-bdate">
                                    <label for="edit-bdate">تاريخ بدأ الكفالة <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="text" id="edit-bdate" name="bdate" value="" size="auto" maxlength="128" class="form-text required hasDatepicker">
                                </div>
                                <div class="form-item form-type-textfield form-item-email">
                                    <label for="edit-email">البريد الإلكتروني <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="text" id="edit-email" name="email" value="" size="auto" maxlength="128" class="form-text required">
                                </div>
                                <div class="form-item form-type-textfield form-item-num1">
                                    <label for="edit-num1">العدد من الأيتام <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="text" id="edit-num1" name="num1" value="" size="auto" maxlength="128" class="form-text required">
                                </div>
                                <div class="form-item form-type-textfield form-item-num2">
                                    <label for="edit-num2">العدد من الأرامل <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="text" id="edit-num2" name="num2" value="" size="auto" maxlength="128" class="form-text required">
                                </div>
                                <div class="form-item form-type-select form-item-kind1">
                                    <label for="edit-kind1">تبرع <span class="form-required" title="This field is required.">*</span></label>
                                    <select id="edit-kind1" name="kind1" size="auto" class="form-select required"><option value="" selected="selected">- Select -</option><option value="عنى">عنى</option><option value="عن والدي">عن والدي</option><option value="عن والدتي">عن والدتي</option><option value="آخر">آخر</option></select>
                                </div>
                                <div class="form-item form-type-select form-item-kind2">
                                    <label for="edit-kind2">نوع الكفالة <span class="form-required" title="This field is required.">*</span></label>
                                    <select id="edit-kind2" name="kind2" size="auto" class="form-select required"><option value="" selected="selected">- Select -</option><option value="مستمرة">مستمرة</option><option value="منقطعة">منقطعة</option></select>
                                </div>
                                <div class="forms_head">الوسيط</div>
                                <div class="form-item form-type-select form-item-contact1">
                                    <label for="edit-contact1">كيف توصلت لكافل </label>
                                    <select id="edit-contact1" name="contact1" size="auto" class="form-select"><option value="اعلان مرئي">اعلان مرئي</option><option value="انترنت">انترنت</option><option value="مطبوعات">مطبوعات</option><option value="تويتر">تويتر</option><option value="فيس بوك">فيس بوك</option><option value="أخرى">أخرى</option></select>
                                </div>
                                <div class="form-item form-type-textfield form-item-contactname">
                                    <label for="edit-contactname">اسم الوسيط </label>
                                    <input type="text" id="edit-contactname" name="contactname" value="" size="auto" maxlength="128" class="form-text">
                                </div>
                                <div class="form-item form-type-textfield form-item-contactmob">
                                    <label for="edit-contactmob">جوال الوسيط </label>
                                    <input type="text" id="edit-contactmob" name="contactmob" value="" size="auto" maxlength="128" class="form-text">
                                </div>
                                    <input type="submit" id="edit-submit-button" name="op" value="أرسل" class="form-submit"><input type="" name="form_build_id" value="form-e1HlBaW4DYKnOiJ4pV-XU01uH9XQy_3cQ1NpGVshuHw">
                                    <input type="" name="form_id" value="form_3_form">
                            </div>
                        </form>     
                    </div>
                </div>
            </div>
            </div></div>
        </div>
    </section>
</div>

{% endblock %}