{% extends "base.html.twig" %}
{% block title %}{% endblock %}

{% block body %}
<br>
<br>

<div class="container marketing mt-5">
    <section class="content ">
        <div class="contentView clearfix pure-form">
            <div class="col-md-12 col-sm-12 col-xs-12 list_view_2 bootstrap_noPadding">
                <div class="thumbnail block_1"> 
                    <div class="caption">
                        <div class="list_view_2_body">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <p class="rtecenter"><span style="font-size:22px;">
                                            <strong> لكفالة يتيم أو يتيمة  <span class="text-success">{{ orphelin.getFullName }}</span> عليك تعبئة النموذج أدناه.</strong></span>
                                            <br><img class="team-img" src="{{ asset('/admin/upload/orphelin/'~ orphelin.image) }}"><br><br>
                                            <strong class="mt-3">تاريخ الازدياد : {{ orphelin.setAt|date('d-m-Y') }}</strong>  
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                        <div class="list_view_2_body_Imgs"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 "></div>
            <div class="col-md-6 ">
            <div id="forms_3" class="col-md-12 col-sm-12 col-xs-12 bootstrap_noPadding forms_rendarV">
                <div class="thumbnail block_1"> 
                    <div class="caption">
                        <form action="{{path('damandePage',{'id' : orphelin.id })}}" method="post" id="form-3-form" accept-charset="UTF-8">
                            <div>
                                <div class="forms_head">بيانات الكافل</div>
                                <div class="form-item form-type-textfield form-item-name">
                                    <label for="edit-name">اسم الكافل <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="text" id="edit-name" name="name" value="" size="auto" maxlength="128" class="form-text required">
                                </div>
                                <div class="form-item form-type-textfield form-item-country">
                                    <label for="edit-country">الدولة </label>
                                    <input type="text" id="edit-country" name="paye" value="" size="auto" maxlength="128" class="form-text">
                                </div>
                                <div class="form-item form-type-textfield form-item-email">
                                    <label for="edit-email">البريد الإلكتروني <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="text" id="edit-email" name="email" value="" size="auto" maxlength="128" class="form-text required">
                                </div>
                                <div class="form-item form-type-textfield form-item-mob">
                                    <label for="edit-mob">رقم الجوال <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="text" id="edit-mob" name="phone" value="" size="auto" maxlength="128" class="form-text required">
                                </div>
                                <div class="forms_head">الكفالة</div>
                                <div class="form-item form-type-textfield form-item-bdate">
                                    <label for="edit-bdate">تاريخ بدأ الكفالة <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="date" id="edit-bdate" name="setAt" value="" size="auto" maxlength="128" class="form-text required hasDatepicker">
                                </div>
                                <div class="form-item form-type-select form-item-kind1">
                                    <label for="edit-kind1">طريقتك المفضلة لدفع الكفالة <span class="form-required" title="This field is required.">*</span></label>
                                    <select id="edit-kind1" name="type" size="auto" class="form-select required">
                                    <option value="" selected="selected"></option>
                                    <option value="نقدا">نقدا </option>
                                    <option value="تحويل بنكي ">تحويل بنكي </option>
                                    <option value=" شيك">شيك  </option>
                                    <option value="آخر">آخر</option></select>
                                </div>
                                <div class="form-item form-type-select form-item-kind1">
                                    <label for="edit-kind2">  توقيتك المفضل لدفع الكفالة  <span class="form-required" title="This field is required.">*</span></label>
                                    <select id="edit-kind2" name="periode" size="auto" class="form-select required">
                                        <option value="" selected="selected"></option>
                                        <option value="شهرية">شهرية</option>
                                        <option value=" سنوية">سنوية </option>
                                    </select>
                                </div>
                                <div class="form-item form-type-textfield form-item-num1">
                                    <label for="edit-num1"> المبلغ <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="text" id="edit-num1" name="prix" value="" size="auto" maxlength="128" class="form-text required">
                                </div>
                               
                                <div class="form-item form-type-select form-item-kind1">
                                    <label for="edit-kind3">  التبرع <span class="form-required" title="This field is required.">*</span></label>
                                    <select id="edit-kind3" name="pour" size="auto" class="form-select required">
                                        <option value="" selected="selected"></option>
                                        <option value="عنى">عنى</option>
                                        <option value="عن والدي">عن والدي</option>
                                        <option value="عن والدتي">عن والدتي</option>
                                        <option value="آخر">آخر</option>
                                    </select>
                                </div>
                                <div class="form-item form-type-select form-item-kind1">
                                    <label for="edit-kind1">  ملاحظات ترغبون إضافتها <span class="form-required" title="This field is required.">*</span></label>
                                    <textarea name="obser" cols="30" rows="15"></textarea>
                                </div>
                                <input class="mt-3 mb-5 p-2 btn btn-success" type="submit" name="op" value="أرسل" class="form-submit">
                                <div class="forms_head">يمكنكم الاتصال بنا:</div>
                                <div class="form-item form-type-textfield form-item-contactname">
                                    <p >الهاتف </p>
                                    <p>00212539310374</p>
                                </div>
                                <div class=" ">
                                    <p >يسعدنا استقبال تبرعاتكم عبر الحسابات البنكية ادناه </p>
                                   <p>101550211164561880000121</p>
                                </div>
                                   
                                    
                            </div>
                        </form>     
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</div>

{% endblock %}