<div class="front_7">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                <div class="col-md-12 col-sm-12 col-xs-12 text-right bootstrap_noPadding">
                    <a class="FrontLogo1" href=""></a>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-center bootstrap_noPadding FrontTitleH"> 
                <div class="list_view_1_body_Imgs">
                 {% for post in posts %} 
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">
                            <a class="lightbox  thumbnail " href="{{ asset('/admin/upload/post/'~ post.image) }}"  class="team-img" title="   {{ post.titre }}">
                            <img style="max-height: 1500px; max-width: 250px;height: 150px;width: 250px;" src="{{ asset('/admin/upload/post/'~ post.image) }}" class="team-img"></a>
                        </div>
                 {% endfor %}      
                </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-center mt-5"><br>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                      <a class="list_theme_1_more h4 text-primary mt-3" href=""> المزيد...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>
