{% extends 'base.html.twig' %}

{% block title %}News!{% endblock %}

{% block body %}
    {% include "partials/slider.html.twig" %}

<div class="newThemeHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center newThemeHeaderIn">الأمين العام يلتقى المشاركون في مبادرة بناء قدراتنا 
            </div>
        </div>
    </div>
</div>
<div class="container marketing">
<section class="content ">
    <div class="contentView clearfix pure-form">
        <div class="col-md-12 col-sm-12 col-xs-12 list_view_1 bootstrap_noPadding" >
            <div class="thumbnail block_1"> 
                <img src="https://kafel.org.sa/sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-26%20at%205.37.17%20PM.jpeg?itok=nika1aJ1"  class="team-img">
                <div class="caption">
                    <div class="list_view_1_body">المصدر :
                        <a href="" target="_blank">قسم العلاقات العامة والإعلام</a>
                        <p><span style="font-size:20px;">فضيلة الأمين العام الشيخ الدكتور عبد العزيز الفايز يقدم شكره وتقديره لأعضاء #كافل المشاركين بمبادرة #بناءقدراتنابناء_مستقبلهم على مشاركتهم المميزة، ويتسلم درع المبادرة من الأعضاء.</span></p>
                    </div>
                    <div class="list_view_1_body_Imgs">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
 {% endblock %}