<div class="front_partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center bootstrap_noPadding front_partners_cont bootstrapLTR_Fix" >

                <div class="owl-carousel owl-carousel-partners owl-rtl owl-drag "> 
                    <div href="#"><img src="{{ asset('/sites/default/files/styles/front_advban_2/public/cover/pigi.png') }}"   class="team-img">
                    </div>
                    <div href="#"><img src="{{ asset('/sites/default/files/styles/front_advban_2/public/cover/rass.jpg') }}"   class="team-img">
                    </div>
                     <div href="#"><img src="{{ asset('/sites/default/files/styles/front_advban_2/public/cover/ghiras.jpg') }}"   class="team-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>