<div class="front_partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center bootstrap_noPadding front_partners_cont bootstrapLTR_Fix" >

                <div class="owl-carousel owl-carousel-partners owl-rtl owl-drag "> 
                    <div href="#"><img src="https://kafel.org.sa/sites/default/files/styles/front_advban_2/public/cover/11111.jpg?itok=PL0TgtPC"  class="team-img">
                    </div><div href="#"><img src="https://kafel.org.sa/sites/default/files/styles/front_advban_2/public/cover/_%D9%85%D9%86%D8%B7%D9%82%D8%A9%20%D9%85%D9%83%D8%A9%20%D8%A7%D9%84%D9%85%D9%83%D8%B1%D9%85%D8%A9.jpeg?itok=qtVLyx9r"  class="team-img">
                    </div><div href="#"><img src="https://kafel.org.sa/sites/default/files/styles/front_advban_2/public/cover/1212121.jpg?itok=RCzGsXDp"  class="team-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>