    <div class="container marketing">
        <section class="content ">
                        <div class="contentView clearfix pure-form">
                <div class="col-md-12 col-sm-12 col-xs-12 list_view_2 bootstrap_noPadding" >
    <div class="thumbnail block_1"> 

        <div class="caption">
            <div class="list_view_2_body"><style type="text/css">.text-img {
                                        font-size: 18px;
                                    }
.img-brand img {
    margin-top: -80px;
}
                                    .text-limit {
                                        font-size: 18px;
                                    }
                                    .footer-s {
                                        background-color: #333;
                                        color: white;
                                        padding: 0px;
                                        margin-top: 30px;
                                    }
                                    .vision-message {
                                        margin-top: 30px;
                                        background-color: #f3f3f3;
                                        padding: 30px;
                                    }
                                    .limit-s {
                                        margin-top: 30px;
                                    }
                                    .text-f {
                                        text-align: center;
                                        font-size: 18px;
                                    }
                                    .text-f p {
                                        color: #00a654;
                                        font-weight: bold;
                                    }
                                    .text-f p span {
                                        color: white;
                                        padding-right: 30px;
                                        font-weight: normal;
                                    }
                                    @media (min-width: 991px) {
                                        .text-img {
                                            margin-top: 60px;
                                        }
                                    }
                                    @media (min-width: 1200px) {
                                        .text-img {
                                            margin-top: 60px;
                                        }
                                        .text-limit {
                                            margin-top: 60px;
                                        }
                                        .vision-message {
                                        padding-right: 150px;
                                    }
                                    }
</style>
<section>
<div class="row">
<div class="col-md-12 col-sm-12 img-top text-center">
    <img style="height: 100px;" alt="" src="/sites/all/themes/newTheme/images/Kafel-V2_03.png" /></div>

<div class="col-md-12 col-sm-12">
<p class="text-center text-img">
     بمبادرة ملؤها الاحساس بمسؤولية تقديم يد العون و الخدمات الاجتماعية و تحقيق التكافل بين شرائح المجتمع  و اهتماما منها بفئة الاطفال الايتام تأست جمعية دار الكرم لرعاية الأيتام  في الخامس من نونبر سنة  2016  طبقا لظهير 15 نونبر 1958 و هي جمعية جهوية اجتماعية خيرية و تنموية مستقلة 
     </p>
</div>
</div>
</section>

<section class="vision-message">
<div class="row">
<div class="col-md-6 col-sm-12">
<h1>أهدافنا</h1>
<p>التكفل عن بعد بالأيتام داخل أسرهم ماديا و معنويا و تربويا.
</p>
</div>

<div class="col-md-6 col-sm-12">
<h1>رسالتنا</h1>

<p>     احياء روح العمل التضامني الاجتماعي و التنموي في صفوف المجتمع و ذلك بالنهوض بوضعية الأسر التي تعيش في وضعية صعبة و خصوصا منها اسر الارامل و الايتام .
</p>
</div>
</div>
</section>
            </div></div></div></div></div></section></div>