{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}
<br> <br>
   <!-- psection des news -->
    <div class="newThemeHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center newThemeHeaderIn">
                    المشاريع المنجزة  
                </div>
            </div>
        </div>
    </div>
    <br><br>
<div class="container marketing">
    <section class="content ">
        <div class="contentView clearfix pure-form">
            <div class="row">
            {%  for projet in projets %}
                <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                    <div class="list_theme_1">
                        <div class="thumbnail block_1"> 
                            <img style="max-height: 190px; min-height: 190px;" src="{{ asset('/admin/upload/projet/'~ projet.image) }}"  class="team-img">       
                             <div class="caption">
                            <h3 class="list_theme_1_title">
                                <a href="news/1729.html"> {{ projet.titre }}</a>
                            </h3>
                            <div class="list_theme_1_body">{{ projet.description|slice(0,250)|raw }}</div>
                                <a class="list_theme_1_more" href="{{ path('projetDetailsPage',{ 'id' : projet.id}) }}">المزيد</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}      
            </div>
        </div>
    </section>
</div>



{% endblock %}